* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.bio {
  margin: 0 auto;
  padding: 2%;
  max-width: 1200px;
}

.photoAndBio {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  margin: 0 auto;
}

.photoLeft {
  flex: 30%;
  padding: 10px;
}

.name, .subtitle{
  text-align: center;
}

.bioRight {
  flex: 70%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding: 10px;
}

.aboutMe {
  margin: 0 auto;
}

/*Profile image*/
.profileImage {
  width: 70%;
  min-width: 150px;
  max-width: 300px;
  display: block;
  margin: 0 auto;
  border-radius: 6px;
  vertical-align: middle;
}

/*Navigation bar*/
/*Large screen*/
.nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  overflow: hidden;
}

/* Small screens */
@media all and (max-width: 500px) {
  .nav {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}

.nav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  margin: 4px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 10px;
}

.nav a:hover {
  background-color: #ddd;
  color: black;
}

.nav a.active {
  background-color: dimgray;
  color: white;
}


.projects {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 2%;
}

/*Each Project as a card*/
div.projectCard {
  background-color: gainsboro;
  padding: 1em;
  border: 2px solid darkgray;
  border-radius: 6px;
  min-width: 150px;
  max-width: 600px;
  margin: 1em;
}

/* Responsive layout - makes the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

/* Clear floats after columns*/
.row:after {
  content: "";
  display: table;
  clear: both;
}

.rowProjectPhoto {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0.5em;
}

/* Create three equal columns next to each other*/
.columnProjectPhoto {
  flex: 33.33%;
  padding: 0.5em;
  min-width: 150px;
}

/* Create two columns*/
.rowHalf{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0.5em;
}

.columnHalf{
  flex: 50%;
  padding: 0.5em;
  min-width: 150px;
}

img.projectImage {
  display: block;
  margin: 0 auto;
  transition: transform 0.25s ease;
}

img.projectImage:hover {
  transform: scale(1.75);
}


h3.projectHeading {
  text-align: center;
}

p.projectDescription, p.bio {
  text-align: justify;
}