* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #f5f4f0;
}

p {
  font-size: calc(16px + 0.15vw);
}

h1 {
  font-size: calc(32px + 0.75vw);
}

h2 {
  font-size: calc(24px + 0.5vw);
}

h3 {
  font-size: calc(20px + 0.4vw);
}

h4 {
  font-size: calc(16px + 0.35vw);
}

h5 {
  font-size: calc(14px + 0.225vw);
}

h6 {
  font-size: calc(14px + 0.2vw);
}

.blue {
  color: #1f98ff;
}

.bold {
  font-weight: 500;
}

.nav {
  width: 100%;
  position: fixed;
  backface-visibility: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 63px;
  background: transparent;
  z-index: 9999;
  transition: background 200ms ease-out;
  -webkit-transition: background 200ms ease-out;
  will-change: background;
  background: rgba(0, 0, 0, 0.8);
}

.navWrapper {
  width: 80%;
  margin: auto;
  /*opacity: 0.8;*/
  filter: alpha(opacity=50);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 63px;
}

.navWrapper a {
  float: left;
  margin-top: 0.5em;
  text-decoration: none;
}

.right {
  float: right;
  margin-right: 1em;
}

.menu,
.search {
  display: flex;
  align-items: center;
}

.menu i {
  margin-right: 10px;
}

.search img {
  margin-left: 10px;
}

.menu p,
.search p {
  color:#f5f4f0;
  font-size: 26px;
}

.menu {
  margin-left: 40px;
}

.search {
  margin-right: 50px;
}

.navIcon {
  margin-right: 30px;
}

.avatar {
  width: 40px;
  margin-left: 1em;
  /*margin-top: 0.5em;*/
}

.main {
  min-height: 100vh;
  display: block;
  position: relative;
  /*margin-top: 63px;*/
}

.tileWrapper {
  position: relative;
  font-size: 0;
  padding-bottom: 7vh;
  padding-top: 63px;
}

@media screen and (max-width: 700px) {
  .tile,
  .tile.isWide {
    width: 100%;
  }
}

@media screen and (max-width: 1023px) {
  .tile,
  .tile.isWide {
    width: 50%;
  }
}

.tile.isWide {
  width: 50%;
}

@media screen and (max-width: 700px) {
  .tile {
    margin-top: 0;
    margin-bottom: 30px;
  }
}

.tile {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 0 3.6vw;
  margin-top: 5vh;
  text-align: left;
  margin-bottom: 5vh;
  width: 33.333333333333336%;
}

.tileImageWrapper {
  overflow: hidden;
  display: inline-block;
  margin-bottom: 23px;
  width: 100%;
}

.tileImage {
  width: 100%;
  position: relative;
}

.tileTitle {
  position: relative;
  font-weight: 400;
  font-family: "SegoeUI";
  font-weight: normal;
}

.is-active .tileImageWrapper {
  opacity: 1;
  transform: translateZ(0);
}

.tileTitle span {
  color: #000;
  position: relative;
  display: inline;
  font-size: calc(20px + (30 - 20) * (100vw - 320px) / (1920 - 320));
  line-height: 1.433333333333333;
}
.tileDescription {
  position: relative;
  font-family: "SegoeUI-Light";
  font-weight: 100;
}

a {
  text-decoration: none;
}
.grow {
  transition: transform 0.2s; /* Animation */
}
.grow:hover {
  transform: scale(1.1);
}

.group:after {
  content: "";
  display: table;
  clear: both;
}
